  .centered {
    /* Center the form on the page */
    margin: 0 auto;
    width: 740px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }

  .error {
    color: red;
  }

  table, th, td {
    border: 1px solid blue;
    padding: 8px; 
  }